//---------------------------
//
// Layout Helpers
// ==============
//
// Class structure:
// .l(ayout)-(helper)--(modifier)
//
//---------------------------

// Islands are the most common layout helper. They throw a padding around the
// selected element equal to the global baseline.
// 
// Each layout helper has a vertical modifier ('*--v') to apply only
// top/bottom padding
//
.l-island {
  padding: $g-u-baseline;
  
  &--v {
    @include share(padding-top, padding-bottom, $g-u-baseline);
  }
}

// Half an island
.l-isle {
  padding: half($g-u-baseline);
  
  &--v {
    @include share(padding-top, padding-bottom, half($g-u-baseline));
  }
}

// Half an isle
.l-spit {
  padding: quarter($g-u-baseline);
  
  &--v {
    @include share(padding-top, padding-bottom, quarter($g-u-baseline));
  }
}

// Twice the size of an island
.l-country {
  padding: double($g-u-baseline);
  
  &--v {
    @include share(padding-top, padding-bottom, double($g-u-baseline));
  }
}

// Twice the size of a country
.l-continent {
  padding: quadruple($g-u-baseline);
  
  &--v {
    @include share(padding-top, padding-bottom, quadruple($g-u-baseline));
  }
}

// Margin layout helpers
// =====================
//
// Typically, we want most elements to have the same vertical spacing, often
// just with a margin-bottom.
//
// The most basic element with this spacing is a paragraph, hence the 'l-p'
// selector name.
// 
// Only two modifiers here: half- and double-spacing.
//
// Vertical margins are strictly applied to the bottom edge only, with the
// exception of negative margin-top values.
//
.l-p, %l-p {
  margin-bottom: $g-u-baseline;
  
  &--dbl {
    margin-bottom: double($g-u-baseline);
  }
  
  &--hlf {
    margin-bottom: half($g-u-baseline);
  }
}

// Floats
// ======
//
.l-fl {
  float: left;
}

.l-fr {
  float: right;
}

// Display types
// =============
//
.l-b {
  display: block;
}

.l-ib {
  display: inline-block;
}
