.l-island {
  padding: 23px; }
  .l-island--v {
    padding-top: 23px;
    padding-bottom: 23px; }

.l-isle {
  padding: 12px; }
  .l-isle--v {
    padding-top: 12px;
    padding-bottom: 12px; }

.l-spit {
  padding: 6px; }
  .l-spit--v {
    padding-top: 6px;
    padding-bottom: 6px; }

.l-country {
  padding: 46px; }
  .l-country--v {
    padding-top: 46px;
    padding-bottom: 46px; }

.l-continent {
  padding: 92px; }
  .l-continent--v {
    padding-top: 92px;
    padding-bottom: 92px; }

.l-p, h1, .f-alpha, h2, .f-beta, h3, .f-gamma {
  margin-bottom: 23px; }
  .l-p--dbl {
    margin-bottom: 46px; }
  .l-p--hlf {
    margin-bottom: 12px; }

.l-fl {
  float: left; }

.l-fr {
  float: right; }

*, ::after, ::before {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: inherit; }

input, button, textarea, select {
  font: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

ul, ol {
  margin-left: 46px; }

html, :root {
  font: 81.25%/1.75 "Open Sans", "Helvetica Neue", Arial, sans-serif;
  color: #47525d;
  box-sizing: border-box; }

h1, .f-alpha {
  font-size: 28px;
  font-weight: 200;
  line-height: 36px; }

h2, .f-beta {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px; }

h3, .f-gamma {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; }

h4, .f-delta {
  font-size: 13px;
  font-weight: 600;
  line-height: 23px; }

a, .f-a {
  color: #007ee5;
  text-decoration: none;
  cursor: pointer; }
  a:hover, .f-a:hover {
    text-decoration: underline; }

.btn {
  display: inline-block;
  padding: 7px 12px;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid;
  cursor: pointer; }
  .btn[disabled], .btn.btn--disabled {
    opacity: .4;
    cursor: default; }
  .btn:focus {
    box-shadow: 0 0 0 2px rgba(0, 126, 229, 0.1); }
  .btn:hover {
    text-decoration: none; }
  .btn.btn--big {
    padding: 10px 26px; }
  .btn.btn--full {
    display: block; }
  .btn.btn--primary {
    color: #fff;
    background-color: #007ee5;
    background-image: linear-gradient(#007ee5, #000c16);
    border-color: #00467f; }
  .btn.btn--secondary {
    color: #47525d;
    background-color: #fff; }
  .btn.btn--tertiary {
    color: #007ee5;
    background-color: #fff;
    background-image: linear-gradient(#fff, rgba(0, 126, 229, 0.1)); }

html, body {
  height: 100%; }

.color, .color--rgba, .color--lighten, .color--darken {
  width: 10vw;
  height: 100px; }

.color--rgba:nth-of-type(1) {
  background-color: #25282b;
  box-shadow:  0vw 0 0 #25282b, 10vw 0 0 rgba(37, 40, 43, 0.9), 20vw 0 0 rgba(37, 40, 43, 0.8), 30vw 0 0 rgba(37, 40, 43, 0.7), 40vw 0 0 rgba(37, 40, 43, 0.6), 50vw 0 0 rgba(37, 40, 43, 0.5), 60vw 0 0 rgba(37, 40, 43, 0.4), 70vw 0 0 rgba(37, 40, 43, 0.3), 80vw 0 0 rgba(37, 40, 43, 0.2), 90vw 0 0 rgba(37, 40, 43, 0.1); }

.color--rgba:nth-of-type(2) {
  background-color: #3d464d;
  box-shadow:  0vw 0 0 #3d464d, 10vw 0 0 rgba(61, 70, 77, 0.9), 20vw 0 0 rgba(61, 70, 77, 0.8), 30vw 0 0 rgba(61, 70, 77, 0.7), 40vw 0 0 rgba(61, 70, 77, 0.6), 50vw 0 0 rgba(61, 70, 77, 0.5), 60vw 0 0 rgba(61, 70, 77, 0.4), 70vw 0 0 rgba(61, 70, 77, 0.3), 80vw 0 0 rgba(61, 70, 77, 0.2), 90vw 0 0 rgba(61, 70, 77, 0.1); }

.color--rgba:nth-of-type(3) {
  background-color: #47525d;
  box-shadow:  0vw 0 0 #47525d, 10vw 0 0 rgba(71, 82, 93, 0.9), 20vw 0 0 rgba(71, 82, 93, 0.8), 30vw 0 0 rgba(71, 82, 93, 0.7), 40vw 0 0 rgba(71, 82, 93, 0.6), 50vw 0 0 rgba(71, 82, 93, 0.5), 60vw 0 0 rgba(71, 82, 93, 0.4), 70vw 0 0 rgba(71, 82, 93, 0.3), 80vw 0 0 rgba(71, 82, 93, 0.2), 90vw 0 0 rgba(71, 82, 93, 0.1); }

.color--rgba:nth-of-type(4) {
  background-color: #7b8994;
  box-shadow:  0vw 0 0 #7b8994, 10vw 0 0 rgba(123, 137, 148, 0.9), 20vw 0 0 rgba(123, 137, 148, 0.8), 30vw 0 0 rgba(123, 137, 148, 0.7), 40vw 0 0 rgba(123, 137, 148, 0.6), 50vw 0 0 rgba(123, 137, 148, 0.5), 60vw 0 0 rgba(123, 137, 148, 0.4), 70vw 0 0 rgba(123, 137, 148, 0.3), 80vw 0 0 rgba(123, 137, 148, 0.2), 90vw 0 0 rgba(123, 137, 148, 0.1); }

.color--rgba:nth-of-type(5) {
  background-color: #f0f3f5;
  box-shadow:  0vw 0 0 #f0f3f5, 10vw 0 0 rgba(240, 243, 245, 0.9), 20vw 0 0 rgba(240, 243, 245, 0.8), 30vw 0 0 rgba(240, 243, 245, 0.7), 40vw 0 0 rgba(240, 243, 245, 0.6), 50vw 0 0 rgba(240, 243, 245, 0.5), 60vw 0 0 rgba(240, 243, 245, 0.4), 70vw 0 0 rgba(240, 243, 245, 0.3), 80vw 0 0 rgba(240, 243, 245, 0.2), 90vw 0 0 rgba(240, 243, 245, 0.1); }

.color--rgba:nth-of-type(6) {
  background-color: #fff;
  box-shadow:  0vw 0 0 white, 10vw 0 0 rgba(255, 255, 255, 0.9), 20vw 0 0 rgba(255, 255, 255, 0.8), 30vw 0 0 rgba(255, 255, 255, 0.7), 40vw 0 0 rgba(255, 255, 255, 0.6), 50vw 0 0 rgba(255, 255, 255, 0.5), 60vw 0 0 rgba(255, 255, 255, 0.4), 70vw 0 0 rgba(255, 255, 255, 0.3), 80vw 0 0 rgba(255, 255, 255, 0.2), 90vw 0 0 rgba(255, 255, 255, 0.1); }

.color--rgba:nth-of-type(7) {
  background-color: #007ee5;
  box-shadow:  0vw 0 0 #007ee5, 10vw 0 0 rgba(0, 126, 229, 0.9), 20vw 0 0 rgba(0, 126, 229, 0.8), 30vw 0 0 rgba(0, 126, 229, 0.7), 40vw 0 0 rgba(0, 126, 229, 0.6), 50vw 0 0 rgba(0, 126, 229, 0.5), 60vw 0 0 rgba(0, 126, 229, 0.4), 70vw 0 0 rgba(0, 126, 229, 0.3), 80vw 0 0 rgba(0, 126, 229, 0.2), 90vw 0 0 rgba(0, 126, 229, 0.1); }

.color--rgba:nth-of-type(8) {
  background-color: #f22322;
  box-shadow:  0vw 0 0 #f22322, 10vw 0 0 rgba(242, 35, 34, 0.9), 20vw 0 0 rgba(242, 35, 34, 0.8), 30vw 0 0 rgba(242, 35, 34, 0.7), 40vw 0 0 rgba(242, 35, 34, 0.6), 50vw 0 0 rgba(242, 35, 34, 0.5), 60vw 0 0 rgba(242, 35, 34, 0.4), 70vw 0 0 rgba(242, 35, 34, 0.3), 80vw 0 0 rgba(242, 35, 34, 0.2), 90vw 0 0 rgba(242, 35, 34, 0.1); }

.color--rgba:nth-of-type(9) {
  background-color: #48ac68;
  box-shadow:  0vw 0 0 #48ac68, 10vw 0 0 rgba(72, 172, 104, 0.9), 20vw 0 0 rgba(72, 172, 104, 0.8), 30vw 0 0 rgba(72, 172, 104, 0.7), 40vw 0 0 rgba(72, 172, 104, 0.6), 50vw 0 0 rgba(72, 172, 104, 0.5), 60vw 0 0 rgba(72, 172, 104, 0.4), 70vw 0 0 rgba(72, 172, 104, 0.3), 80vw 0 0 rgba(72, 172, 104, 0.2), 90vw 0 0 rgba(72, 172, 104, 0.1); }

.color--rgba:nth-of-type(10) {
  background-color: #fcca00;
  box-shadow:  0vw 0 0 #fcca00, 10vw 0 0 rgba(252, 202, 0, 0.9), 20vw 0 0 rgba(252, 202, 0, 0.8), 30vw 0 0 rgba(252, 202, 0, 0.7), 40vw 0 0 rgba(252, 202, 0, 0.6), 50vw 0 0 rgba(252, 202, 0, 0.5), 60vw 0 0 rgba(252, 202, 0, 0.4), 70vw 0 0 rgba(252, 202, 0, 0.3), 80vw 0 0 rgba(252, 202, 0, 0.2), 90vw 0 0 rgba(252, 202, 0, 0.1); }

.color--lighten:nth-of-type(1) {
  background-color: #25282b;
  box-shadow:  0vw 0 0 #25282b, 10vw 0 0 #3a3d40, 20vw 0 0 #505255, 30vw 0 0 #66686a, 40vw 0 0 #7c7e7f, 50vw 0 0 #929395, 60vw 0 0 #a7a9aa, 70vw 0 0 #bdbebf, 80vw 0 0 #d3d4d4, 90vw 0 0 #e9e9e9; }

.color--lighten:nth-of-type(2) {
  background-color: #3d464d;
  box-shadow:  0vw 0 0 #3d464d, 10vw 0 0 #50585e, 20vw 0 0 #636a70, 30vw 0 0 #777d82, 40vw 0 0 #8a9094, 50vw 0 0 #9ea2a6, 60vw 0 0 #b1b5b7, 70vw 0 0 #c4c7c9, 80vw 0 0 #d8dadb, 90vw 0 0 #ebeced; }

.color--lighten:nth-of-type(3) {
  background-color: #47525d;
  box-shadow:  0vw 0 0 #47525d, 10vw 0 0 #59636d, 20vw 0 0 #6b747d, 30vw 0 0 #7e858d, 40vw 0 0 #90979d, 50vw 0 0 #a3a8ae, 60vw 0 0 #b5b9be, 70vw 0 0 #c7cbce, 80vw 0 0 #dadcde, 90vw 0 0 #ecedee; }

.color--lighten:nth-of-type(4) {
  background-color: #7b8994;
  box-shadow:  0vw 0 0 #7b8994, 10vw 0 0 #88949e, 20vw 0 0 #95a0a9, 30vw 0 0 #a2acb4, 40vw 0 0 #afb8be, 50vw 0 0 #bdc4c9, 60vw 0 0 #cacfd4, 70vw 0 0 #d7dbde, 80vw 0 0 #e4e7e9, 90vw 0 0 #f1f3f4; }

.color--lighten:nth-of-type(5) {
  background-color: #f0f3f5;
  box-shadow:  0vw 0 0 #f0f3f5, 10vw 0 0 #f1f4f6, 20vw 0 0 #f3f5f7, 30vw 0 0 #f4f6f8, 40vw 0 0 #f6f7f9, 50vw 0 0 #f7f9fa, 60vw 0 0 #f9fafb, 70vw 0 0 #fafbfc, 80vw 0 0 #fcfcfd, 90vw 0 0 #fdfdfe; }

.color--lighten:nth-of-type(6) {
  background-color: #fff;
  box-shadow:  0vw 0 0 white, 10vw 0 0 white, 20vw 0 0 white, 30vw 0 0 white, 40vw 0 0 white, 50vw 0 0 white, 60vw 0 0 white, 70vw 0 0 white, 80vw 0 0 white, 90vw 0 0 white; }

.color--lighten:nth-of-type(7) {
  background-color: #007ee5;
  box-shadow:  0vw 0 0 #007ee5, 10vw 0 0 #198ae7, 20vw 0 0 #3297ea, 30vw 0 0 #4ca4ec, 40vw 0 0 #66b1ef, 50vw 0 0 #7fbef2, 60vw 0 0 #99cbf4, 70vw 0 0 #b2d8f7, 80vw 0 0 #cce5f9, 90vw 0 0 #e5f2fc; }

.color--lighten:nth-of-type(8) {
  background-color: #f22322;
  box-shadow:  0vw 0 0 #f22322, 10vw 0 0 #f33838, 20vw 0 0 #f44e4e, 30vw 0 0 #f56564, 40vw 0 0 #f77b7a, 50vw 0 0 #f89190, 60vw 0 0 #f9a7a6, 70vw 0 0 #fbbdbc, 80vw 0 0 #fcd3d2, 90vw 0 0 #fde9e8; }

.color--lighten:nth-of-type(9) {
  background-color: #48ac68;
  box-shadow:  0vw 0 0 #48ac68, 10vw 0 0 #5ab477, 20vw 0 0 #6cbc86, 30vw 0 0 #7ec495, 40vw 0 0 #91cda4, 50vw 0 0 #a3d5b3, 60vw 0 0 #b5ddc2, 70vw 0 0 #c8e6d1, 80vw 0 0 #daeee0, 90vw 0 0 #ecf6ef; }

.color--lighten:nth-of-type(10) {
  background-color: #fcca00;
  box-shadow:  0vw 0 0 #fcca00, 10vw 0 0 #fccf19, 20vw 0 0 #fcd432, 30vw 0 0 #fcd94c, 40vw 0 0 #fddf66, 50vw 0 0 #fde47f, 60vw 0 0 #fde999, 70vw 0 0 #feefb2, 80vw 0 0 #fef4cc, 90vw 0 0 #fef9e5; }

.color--darken:nth-of-type(1) {
  background-color: #25282b;
  box-shadow:  0vw 0 0 #25282b, 10vw 0 0 #212426, 20vw 0 0 #1d2022, 30vw 0 0 #191c1e, 40vw 0 0 #161819, 50vw 0 0 #121415, 60vw 0 0 #0e1011, 70vw 0 0 #0b0c0c, 80vw 0 0 #070808, 90vw 0 0 #030304; }

.color--darken:nth-of-type(2) {
  background-color: #3d464d;
  box-shadow:  0vw 0 0 #3d464d, 10vw 0 0 #363f45, 20vw 0 0 #30383d, 30vw 0 0 #2a3135, 40vw 0 0 #242a2e, 50vw 0 0 #1e2326, 60vw 0 0 #181c1e, 70vw 0 0 #121517, 80vw 0 0 #0c0e0f, 90vw 0 0 #060607; }

.color--darken:nth-of-type(3) {
  background-color: #47525d;
  box-shadow:  0vw 0 0 #47525d, 10vw 0 0 #3f4953, 20vw 0 0 #38414a, 30vw 0 0 #313941, 40vw 0 0 #2a3137, 50vw 0 0 #23292e, 60vw 0 0 #1c2025, 70vw 0 0 #15181b, 80vw 0 0 #0e1012, 90vw 0 0 #070809; }

.color--darken:nth-of-type(4) {
  background-color: #7b8994;
  box-shadow:  0vw 0 0 #7b8994, 10vw 0 0 #6e7b85, 20vw 0 0 #626d76, 30vw 0 0 #565f67, 40vw 0 0 #495258, 50vw 0 0 #3d444a, 60vw 0 0 #31363b, 70vw 0 0 #24292c, 80vw 0 0 #181b1d, 90vw 0 0 #0c0d0e; }

.color--darken:nth-of-type(5) {
  background-color: #f0f3f5;
  box-shadow:  0vw 0 0 #f0f3f5, 10vw 0 0 #d8dadc, 20vw 0 0 #c0c2c4, 30vw 0 0 #a8aaab, 40vw 0 0 #909193, 50vw 0 0 #78797a, 60vw 0 0 #606162, 70vw 0 0 #484849, 80vw 0 0 #303031, 90vw 0 0 #171818; }

.color--darken:nth-of-type(6) {
  background-color: #fff;
  box-shadow:  0vw 0 0 white, 10vw 0 0 #e5e5e5, 20vw 0 0 #cccccc, 30vw 0 0 #b2b2b2, 40vw 0 0 #999999, 50vw 0 0 #7f7f7f, 60vw 0 0 #666666, 70vw 0 0 #4c4c4c, 80vw 0 0 #333333, 90vw 0 0 #191919; }

.color--darken:nth-of-type(7) {
  background-color: #007ee5;
  box-shadow:  0vw 0 0 #007ee5, 10vw 0 0 #0071ce, 20vw 0 0 #0064b7, 30vw 0 0 #0058a0, 40vw 0 0 #004b89, 50vw 0 0 #003f72, 60vw 0 0 #00325b, 70vw 0 0 #002544, 80vw 0 0 #00192d, 90vw 0 0 #000c16; }

.color--darken:nth-of-type(8) {
  background-color: #f22322;
  box-shadow:  0vw 0 0 #f22322, 10vw 0 0 #d91f1e, 20vw 0 0 #c11c1b, 30vw 0 0 #a91817, 40vw 0 0 #911514, 50vw 0 0 #791111, 60vw 0 0 #600e0d, 70vw 0 0 #480a0a, 80vw 0 0 #300706, 90vw 0 0 #180303; }

.color--darken:nth-of-type(9) {
  background-color: #48ac68;
  box-shadow:  0vw 0 0 #48ac68, 10vw 0 0 #409a5d, 20vw 0 0 #398953, 30vw 0 0 #327848, 40vw 0 0 #2b673e, 50vw 0 0 #245634, 60vw 0 0 #1c4429, 70vw 0 0 #15331f, 80vw 0 0 #0e2214, 90vw 0 0 #07110a; }

.color--darken:nth-of-type(10) {
  background-color: #fcca00;
  box-shadow:  0vw 0 0 #fcca00, 10vw 0 0 #e2b500, 20vw 0 0 #c9a100, 30vw 0 0 #b08d00, 40vw 0 0 #977900, 50vw 0 0 #7e6500, 60vw 0 0 #645000, 70vw 0 0 #4b3c00, 80vw 0 0 #322800, 90vw 0 0 #191400; }

/*# sourceMappingURL=test.css.map */
