// scss-lint:disable ImportantRule

/// Assert that the parent selector matches one of the selectors passed into $selectors
/// @access public
/// @group accessibility
/// @param {selector} $selectors... - arglist of selctors to assert
/// @example scss
///  .c-label {
///     @include assert-selector(label);
///  }
@mixin assert-selector($selectors...) {
    $result: &;

    @each $selector in $selectors {
        $result: selector-append($result, unquote(':not(#{$selector})'));
    }

    @at-root #{$result} {
        /*! You must ensure the element matches one of these selectors: #{$selectors} */
        outline: 2px solid red !important;
    }
}
