//---------------------------
//
// Property functions
//
//---------------------------

// Share values for multiple properties
// Usage:
//
// @include share(padding-top, padding-bottom, 23px);
//
@mixin share($props.../*, $value */) {
    @for $i from 1 to length($props) {
        #{nth($props, $i)}: nth($props, -1);
    }
}
