//-----------------------------
//
// Modal
//
//-----------------------------

$o-modal-ns: "o-modal";

.#{$o-modal-ns} {
  overflow: scroll;

  background-color: color(gray, x-light);

  &#{&}--unibody {
    background-color: #fff;
  }
}

  .#{$o-modal-ns}__title, .#{$o-modal-ns}__header {
    background-color: #fff;
  }
