code {
  padding: 2px 4px;

  font-size: 13px;
  font-family: "Source Code Pro";

  background-color: #F0F3F5;
  border-radius: 3px;

  .highlight & {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}

pre.highlight {
  -webkit-font-smoothing: antialiased;
  padding: ($sc-baseline/2);
  margin-bottom: $sc-baseline;

  border: 1px solid rgba(#25282B, .1);
  border-radius: 3px;

  .c, .cd, .cm, .c1, .cs {
    color: #9FA8A7;
  }

}

// Some code examples are rendering an empty <p>, and this is a
// hacky/last-resort way to get rid of it.
p:empty {
  display: none;
}
