.#{$sc-namespace}site__nav {
  margin-bottom: ($sc-baseline*2);

  li + li {
    margin-left: $sc-baseline;
  }

  a {
    padding: ($sc-baseline/2) 0;

    border-top: 2px solid transparent;
    color: inherit;

    &:hover {
      text-decoration: none;

      border-color: currentColor;
    }
  }

  .is-active {
    color: $sc-color-highlight;
    border-top-color: currentColor;
  }
}
