.#{$sc-namespace}site__nav {
  white-space: nowrap;
  overflow: auto;
  margin-bottom: ($sc-baseline*2);

  background-color: #F0F3F5;

  li {
    margin-right: $sc-baseline;
  }

  a {
    padding: ($sc-baseline/2) 0;

    border-bottom: 2px solid transparent;
    color: inherit;

    &:hover {
      text-decoration: none;

      border-color: currentColor;
    }
  }

  .is-active {
    color: $sc-color-highlight;
    border-bottom-color: currentColor;
  }
}

.#{$sc-namespace}content__nav {
  a {
    display: block;
    padding: ($sc-baseline/2) 0;
  }

  li + li {
    border-top: 1px solid rgba($sc-color-black, .1);
  }
}
