<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "style" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
