::selection {
  background-color: rgba($sc-color-highlight, .25);
}

html, :root {
  box-sizing: border-box;

  font: 100%/1.5 "BlinkMacSystemFont", -webkit-system, Helvetica, Arial, sans-serif;

  color: #3D464D;
}
