p, ul, ol, table, form, hr,
%p {
  margin-bottom: $sc-baseline;
}

%vspacer {
  *:not(h1) + & {
    padding-top: $sc-baseline;
  }
}

h1 {
  @extend %vspacer;

  margin-bottom: ($sc-baseline*2);

  -webkit-font-smoothing: antialiased;
  font-size: ($sc-baseline*2);
  font-weight: 300;
  line-height: 1;
}

h2 {
  @extend %p;
  @extend %vspacer;

  -webkit-font-smoothing: antialiased;
  font-size: ($sc-baseline*1.25);
  font-weight: 400;
  line-height: 1;
}

h3 {
  margin-bottom: ($sc-baseline/2);

  -webkit-font-smoothing: antialiased;
  font-size: 1.333;
  font-weight: 600;
  line-height: 1;
}

h4 {
  margin-bottom: $sc-baseline/2;

  font-size: 1rem;
  font-weight: 500;
  font-feature-settings: "c2sc" 1, "smcp" 1;
  line-height: 1;

  color: #7B8994;
}

a {
  color: inherit;

  &:hover {
    color: $sc-color-highlight;
  }
}

ul, ol {
  padding-left: $sc-baseline;
}
