---

title: Base

---

<h2>Reset</h2>
<p><code>base/reset</code> provides a simple CSS reset that removes margins and
padding, sets <code>box-sizing</code>, and adds some basic margins to common
content elements such as <code>p</code> and <code>ul</code>.</p>

<h2>Base</h2>
<p><code>base/base</code> sets styles for the <code>html</code> element,
including font styles for the page.</p>

<h2>Typography</h2>
<p><code>base/typography</code> sets default styles for typographic elements and
adds classes for those styles. For example, if you want a piece of text to
<em>look</em> like a <code>h1</code> without changing its semantic value, you
can add a class of <code>f-alpha</code> to the element.</p>

<%= code_example('<h1>This is a level 1 heading</h1>

<h2>A level 2 heading</h2>

<h3>A level 3 heading</h3>

<h4>A level 4 heading</h4>

<p>This is a paragraph.</p>

<p>This is a paragraph <a href="#">with a link</a>.</p>

<hr/>

<span class="f-alpha">This is a span with the appearance of h1</span>

<span class="f-beta">This is a span with the appearance of h2</span>')%>
