---

title: Base
gh_path: base
toc:
- Reset
- Base
- Typography

---

<section id="reset" class="sc-def">
  <header class="sc-def__header">
    <h2>Reset</h2>
    <%= gh_link("base/_reset.scss") %>
  </header>

  <p><code>base/reset</code> provides a simple CSS reset that removes margins and
    padding, sets <code>box-sizing</code>, and adds some basic margins to common
    content elements such as <code>p</code> and <code>ul</code>.</p>
</section>

<section id="base" class="sc-def">
  <header class="sc-def__header">
    <h2>Base</h2>
    <%= gh_link("base/_base.scss") %>
  </header>

  <p><code>base/base</code> sets styles for the <code>html</code> element,
    including font styles for the page.</p>
</section>

<section id="typography" class="sc-def">
  <header class="sc-def__header">
    <h2>Typography</h2>
    <%= gh_link("base/_typography.scss") %>
  </header>

  <p><code>base/typography</code> sets default styles for typographic elements and
    adds classes for those styles. For example, if you want a piece of text to
    <em>look</em> like a <code>h1</code> without changing its semantic value, you
    can add a class of <code>f-alpha</code> to the element.</p>

  <%= code_example('<small class="u-font-small u-font-caps u-font-meta u-font-strong">f-headline (48px)</small>
<h1 class="f-headline">This is a headline</h1>

<small class="u-font-small u-font-caps u-font-meta u-font-strong">f-subhead (36px)</small>
<h1 class="f-subhead">This is a subheading</h1>

<small class="u-font-small u-font-caps u-font-meta u-font-strong">f1 (24px)</small>
<h1 class="f1">This is a first-level heading</h1>

<small class="u-font-small u-font-caps u-font-meta u-font-strong">f2 (20px)</small>
<h2 class="f2">A second-level heading</h2>

<small class="u-font-small u-font-caps u-font-meta u-font-strong">f3 (16px)</small>
<h3 class="f3">A third-level heading</h3>

<small class="u-font-small u-font-caps u-font-meta u-font-strong">f4 (13px)</small>
<h4 class="f4">A fourth-level heading</h4>

<p>This is a paragraph.</p>

<p>This is a paragraph <a href="#">with a link</a>.</p>

<hr class="c-rule"/>')%>
</section>
