---

title: Base
gh_path: base
toc:
- Reset
- Base
- Typography

---

<section id="reset" class="sc-def">
  <header class="sc-def__header">
    <h2>Reset</h2>
    <%= gh_link("base/_reset.scss") %>
  </header>

  <p><code>base/reset</code> provides a simple CSS reset that removes margins and
    padding, sets <code>box-sizing</code>, and adds some basic margins to common
    content elements such as <code>p</code> and <code>ul</code>.</p>
</section>

<section id="base" class="sc-def">
  <header class="sc-def__header">
    <h2>Base</h2>
    <%= gh_link("base/_base.scss") %>
  </header>

  <p><code>base/base</code> sets styles for the <code>html</code> element,
    including font styles for the page.</p>
</section>

<section id="typography" class="sc-def">
  <header class="sc-def__header">
    <h2>Typography</h2>
    <%= gh_link("base/_typography.scss") %>
  </header>

  <p><code>base/typography</code> provides a suite of typographic styles for headings,
    links, and horizontal rules.</p>

  <p>Heading tags (<code>h1, h2</code>, etc.) are not directly styled. Instead,
    classes are used to style headings at different levels to allow style to be
    completely separated from document semantics.</p>

  <p>This also allows designers and engineers to use a common vocabulary when describing
    type sizes. The type scale and corresponding HTML classes can be seen below.</p>

  <%= code_example('<code class="u-font-meta">.f-headline (48px)</code>
<h1 class="f-headline">This is a headline</h1>

<code class="u-font-meta">.f-subhead (36px)</code>
<h1 class="f-subhead">This is a subheading</h1>

<code class="u-font-meta">.f1 (24px)</code>
<h1 class="f1">This is a first-level heading</h1>

<code class="u-font-meta">.f2 (20px)</code>
<h2 class="f2">A second-level heading</h2>

<code class="u-font-meta">.f3 (16px)</code>
<h3 class="f3">A third-level heading</h3>

<code class="u-font-meta">.f4 (13px)</code>
<h4 class="f4">A fourth-level heading</h4>

<p>This is a paragraph.</p>

<p>This is a paragraph <a href="#">with a link</a>.</p>

<hr class="c-rule"/>')%>
</section>
