---

title: Functions
gh_path: functions
toc:
- Maths
- Colors
- Units

---

<section id="maths" class="sc-def">
  <header class="sc-def__header">
    <h2>Maths</h2>
    <%= gh_link("functions/_maths.scss") %>
  </header>

  <h3>half($number)</h3>
  <p>Divides a passed value by 2. Returns a whole number.</p>

  <h3>quarter($number)</h3>
  <p>Divides a passed value by 4. Returns a whole number.</p>

  <h3>double($number)</h3>
  <p>Multiplies a passed value by 2. Returns a whole number.</p>

  <h3>quadruple($number)</h3>
  <p>Multiplies a passed value by 4. Returns a whole number.</p>
</section>

<section id="colors" class="sc-def">
  <header class="sc-def__header">
    <h2>Colors</h2>
    <%= gh_link("functions/_colors.scss") %>
  </header>

  <aside class="sc-note">
    <h3>WCAG Color Contrast Compliance</h3>
    <p>Some of the colors in Scooter's <code>color</code> and <code>grayscale</code> functions meet the WCAG 2.0 AA color
      contrast standards <strong>when used against a white background</strong>. Those colors have been indicated in the preview below.</p>
  </aside>

  <h3 id="grayscale">grayscale($gradation, [$alpha: 1])</h3>
  <p>Returns a value from <a href="variables.html#$dbgrayscalecolors"><code>$DBGrayscaleColors</code></a>.
    Passing an <code>$alpha</code> value between <code>0.0</code> and <code>1.0</code> returns the color as an
    <code>rgba</code> value.</p>

  <div class="sc-demo__output cp-demo cp-demo--grayscale">
    <span data-title="grayscale(1)" class="c-title-bubble cp-grayscale-1"><small class="wcag">WCAG 2.0 Compliant</small></span>
    <span data-title="grayscale(2)" class="c-title-bubble cp-grayscale-2"><small class="wcag">WCAG 2.0 Compliant</small></span>
    <span data-title="grayscale(3)" class="c-title-bubble cp-grayscale-3"><small class="wcag">WCAG 2.0 Compliant</small></span>
    <span data-title="grayscale(4)" class="c-title-bubble cp-grayscale-4"><small class="wcag">WCAG 2.0 Compliant</small></span>
    <span data-title="grayscale(5)" class="c-title-bubble cp-grayscale-5"><small class="wcag">WCAG 2.0 Compliant</small></span>
    <span data-title="grayscale(6)" class="c-title-bubble cp-grayscale-6"></span>
    <span data-title="grayscale(7)" class="c-title-bubble cp-grayscale-7"></span>
    <span data-title="grayscale(8)" class="c-title-bubble cp-grayscale-8"></span>
    <span data-title="grayscale(9)" class="c-title-bubble cp-grayscale-9"></span>
    <span data-title="grayscale(10)" class="c-title-bubble cp-grayscale-10"></span>
  </div>

  <h3 id="color">color($name, [$shade, $alpha])</h3>
  <p>Returns a value from <a href="variables.html#$dbglobalcolors"><code>$DBGlobalColors</code></a>.
    With only the <code>$name</code> parameter, the base shade is returned. The
    optional <code>$shade</code> parameter can be one of the following:</p>

  <ul>
    <li>x-dark</li>
    <li>dark</li>
    <li>base (default)</li>
    <li>medium</li>
    <li>light</li>
    <li>x-light</li>
  </ul>

  <p>The optional <code>$alpha</code> parameter can be between <code>0.0</code>
    and <code>1.0</code>. Passing an <code>$alpha</code> value returns the color as
    an <code>rgba</code> value.</p>

  <div class="sc-demo__output cp-demo">
    <span data-title="color(gray, x-dark)"  class="c-title-bubble cp-gray-x-dark"><small class="wcag">WCAG 2.0 Compliant</small></span>
    <span data-title="color(gray, dark)"    class="c-title-bubble cp-gray-dark"><small class="wcag">WCAG 2.0 Compliant</small></span>
    <span data-title="color(gray)"          class="c-title-bubble cp-gray-base"><small class="wcag">WCAG 2.0 Compliant</small></span>
    <span data-title="color(gray, medium)"  class="c-title-bubble cp-gray-medium"></span>
    <span data-title="color(gray, light)"   class="c-title-bubble cp-gray-light"></span>
    <span data-title="color(gray, x-light)" class="c-title-bubble cp-gray-x-light"></span>

    <span data-title="color(blue, x-dark)"  class="c-title-bubble cp-blue-x-dark"><small class="wcag">WCAG 2.0 Compliant</small></span>
    <span data-title="color(blue, dark)"    class="c-title-bubble cp-blue-dark"><small class="wcag">WCAG 2.0 Compliant</small></span>
    <span data-title="color(blue)"          class="c-title-bubble cp-blue-base"></span>
    <span data-title="color(blue, medium)"  class="c-title-bubble cp-blue-medium"></span>
    <span data-title="color(blue, light)"   class="c-title-bubble cp-blue-light"></span>
    <span data-title="color(blue, x-light)" class="c-title-bubble cp-blue-x-light"></span>

    <span data-title="color(red, x-dark)"  class="c-title-bubble cp-red-x-dark"><small class="wcag">WCAG 2.0 Compliant</small></span>
    <span data-title="color(red, dark)"    class="c-title-bubble cp-red-dark"><small class="wcag">WCAG 2.0 Compliant</small></span>
    <span data-title="color(red)"          class="c-title-bubble cp-red-base"><small class="wcag">WCAG 2.0 Compliant</small></span>
    <span data-title="color(red, medium)"  class="c-title-bubble cp-red-medium"></span>
    <span data-title="color(red, light)"   class="c-title-bubble cp-red-light"></span>
    <span data-title="color(red, x-light)" class="c-title-bubble cp-red-x-light"></span>

    <span data-title="color(green, x-dark)"  class="c-title-bubble cp-green-x-dark"><small class="wcag">WCAG 2.0 Compliant</small></span>
    <span data-title="color(green, dark)"    class="c-title-bubble cp-green-dark"></span>
    <span data-title="color(green)"          class="c-title-bubble cp-green-base"></span>
    <span data-title="color(green, medium)"  class="c-title-bubble cp-green-medium"></span>
    <span data-title="color(green, light)"   class="c-title-bubble cp-green-light"></span>
    <span data-title="color(green, x-light)" class="c-title-bubble cp-green-x-light"></span>

    <span data-title="color(yellow, x-dark)"  class="c-title-bubble cp-yellow-x-dark"><small class="wcag">WCAG 2.0 Compliant</small></span>
    <span data-title="color(yellow, dark)"    class="c-title-bubble cp-yellow-dark"></span>
    <span data-title="color(yellow)"          class="c-title-bubble cp-yellow-base"></span>
    <span data-title="color(yellow, medium)"  class="c-title-bubble cp-yellow-medium"></span>
    <span data-title="color(yellow, light)"   class="c-title-bubble cp-yellow-light"></span>
    <span data-title="color(yellow, x-light)" class="c-title-bubble cp-yellow-x-light"></span>

    <span data-title="color(black)" class="c-title-bubble cp-black"><small class="wcag">WCAG 2.0 Compliant</small></span>
    <span data-title="color(white)" class="c-title-bubble cp-white"></span>
  </div>
</section>

<section id="units" class="sc-def">
  <header class="sc-def__header">
    <h2 id="units">Units</h2>
    <%= gh_link("functions/_units.scss") %>
  </header>

  <h3>strip-unit($value)</h3>
  <p>Accepts a number and returns the unitless value. Useful for getting unitless
    versions of <code>em</code> values, for example.</p>
</section>
