---

title: Mixins
gh_path: mixins
toc:
- Properties
- Arrow

---

<section id="properties" class="sc-def">
  <header class="sc-def__header">
    <h2>Properties</h2>
    <%= gh_link("mixins/_properties.scss") %>
  </header>
  <h3>share($property, [$property...,] $value)</h3>
  <p>Outputs multiple <code>$property</code> values with the same value. For example:</p>

<% code("scss") do %>
// Input:
.element {
  @include share(padding-top, padding-bottom, 20px);
}

// Output:
.element {
  padding-top: 20px;
  padding-bottom: 20px;
}
<% end %>
</section>

<section id="arrow" class="sc-def">
  <header class="sc-def__header">
    <h2 id="arrow">Arrow</h2>
    <%= gh_link("mixins/_arrow.scss") %>
  </header>
  <h3>arrow($size: 10px, $color: inherit, $direction: down)</h3>
  <p>Makes a CSS arrow shape. <code>$direction</code> can be one of the following,
    and affects the direction the arrow points in:</p>

  <ul>
    <li>down (default)</li>
    <li>up</li>
    <li>left</li>
    <li>right</li>
  </ul>
</section>
