---

title: Objects

---

<h2>Grid</h2>
<p>The grid object offers a collection of classes for grid-based layout. It should
be used within a container that sets the width or max-width.</p>

<h3>Configuration</h3>
<p>The grid object comes with a few configuration options:</p>

<ul>
  <li><code>$DBcol-groups</code> is a map that sets the grid divisions. The default value is <code>2, 3, 4, 6, 12</code>.</li>
  <li><code>$DBgutter-width</code> sets the margins (or gutters) between columns. Defaults to 20px.</li>
</ul>

<%= code_example('<div class="o-grid">
  <div class="o-grid__col o-grid__col--1-of-12"></div>
  <div class="o-grid__col o-grid__col--1-of-12"></div>
  <div class="o-grid__col o-grid__col--1-of-12"></div>
  <div class="o-grid__col o-grid__col--1-of-12"></div>
  <div class="o-grid__col o-grid__col--1-of-12"></div>
  <div class="o-grid__col o-grid__col--1-of-12"></div>
  <div class="o-grid__col o-grid__col--1-of-12"></div>
  <div class="o-grid__col o-grid__col--1-of-12"></div>
  <div class="o-grid__col o-grid__col--1-of-12"></div>
  <div class="o-grid__col o-grid__col--1-of-12"></div>
  <div class="o-grid__col o-grid__col--1-of-12"></div>
  <div class="o-grid__col o-grid__col--1-of-12"></div>

  <div class="o-grid__col o-grid__col--2-of-12"></div>
  <div class="o-grid__col o-grid__col--2-of-12"></div>
  <div class="o-grid__col o-grid__col--2-of-12"></div>
  <div class="o-grid__col o-grid__col--2-of-12"></div>
  <div class="o-grid__col o-grid__col--2-of-12"></div>
  <div class="o-grid__col o-grid__col--2-of-12"></div>

  <div class="o-grid__col o-grid__col--6-of-12"></div>
  <div class="o-grid__col o-grid__col--2-of-12"></div>
  <div class="o-grid__col o-grid__col--3-of-12"></div>
  <div class="o-grid__col o-grid__col--1-of-12"></div>
</div>') %>

<h2>Media</h2>
<p>The media object allows you to layout an image and a block of text beside one another.</p>

<%= code_example('<div class="o-media">
  <img class="o-media__img" src="http://placebear.com/64/64" alt="A photo of a bear" />
  <div class="o-media__body">
    <p>Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam. Animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
  </div>
</div>') %>

<h2>List-UI</h2>
<p>The List-UI object turns a `ul` or `ol` element into an unstyled, vertically
stacked list of navigation items. Using the `dividers` modifier also adds a
divider between items.</p>

<%= code_example('<ul class="o-list-ui u-l-p">
  <!-- The `u-l-p` class is just to add some space between these examples. -->
  <li><a href="#">A menu item</a></li>
  <li><a href="#">Another menu item</a></li>
  <li><a href="#">A third menu item</a></li>
  <li><a href="#">A final menu item</a></li>
</ul>

<!-- The `dividers` modifier adds dividers between the items -->
<ul class="o-list-ui o-list-ui--dividers">
  <li><a href="#">A menu item</a></li>
  <li><a href="#">Another menu item</a></li>
  <li><a href="#">A third menu item</a></li>
  <li><a href="#">A final menu item</a></li>
</ul>') %>


<h2>Flag</h2>
<p>The Flag object is very similar to the Media object, but allows you to control
  the vertical alignment of the text and image.</p>
<p>By default, elements are vertically center-aligned. Add <code>top</code> or
  <code>bottom</code> modifiers to align top or bottom edges respectively.</p>
<p>Add the <code>rev</code> modifier for a fixed-width right-aligned element,
  and flexible-with left-aligned element.</p>

<%= code_example('<div class="o-flag u-l-p">
  <div class="o-flag__fix">
    <img src="http://placebear.com/64/64" alt="A photo of a bear" />
  </div>
  <div class="o-flag__flex">
    Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
  </div>
</div>

<!-- The `top` modifier aligns the top edges of elements -->
<div class="o-flag o-flag--top u-l-p">
  <div class="o-flag__fix">
    <img src="http://placebear.com/64/64" alt="A photo of a bear" />
  </div>
  <div class="o-flag__flex">
    Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
  </div>
</div>

<!-- The `rev` modifier lets you have a right-aligned fixed-with element -->
<div class="o-flag o-flag--rev">
  <div class="o-flag__flex">
    Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
  </div>
  <div class="o-flag__fix">
    <img src="http://placebear.com/64/64" alt="A photo of a bear" />
  </div>
 </div>') %>
