---

title: Variables
gh_path: variables
toc:
- Colors
- Units

---

<section id="colors" class="sc-def">
  <header class="sc-def__header">
    <h2>Colors</h2>
    <%= gh_link("variables/_colors.scss") %>
  </header>

  <p>Scooter's color variables should not be used directly. See the documentation for the
    <a href="functions.html#colors"><code>color</code> and <code>grayscale</code> functions</a>.</p>
</section>

<section id="units" class="sc-def">
  <header class="sc-def__header">
    <h2 id="units">Units</h2>
    <%= gh_link("variables/_units.scss") %>
  </header>

  <h3>$DBBaseline</h3>
  <p><code>$DBBaseline</code> is the baseline height for Scooter. Changing this
    variable changes the values for many components and utilities.</p>

  <h3>$DBFontSize</h3>
  <p><code>$DBFontSize</code> is the root element font size. Changing this unit
    affects font sizes across Scooter.</p>
</section>
