//-----------------------------
//
// Cards
//
// Simple styling for a card-like component used in a variety of ways with
// optional arrows for tooltip-like cards
//
//-----------------------------

.c-card {
  box-sizing: border-box;
  position: relative;
  display: inline-block;

  background-color: #fff;
  border: 1px solid rgba(color(gray, x-dark), .1);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(color(gray, x-dark), .1);
  
  &#{&}--arrow {
    &:before, &:after {
      content: '';
      position: absolute;
      bottom: 100%;
      border: 10px solid transparent;
      border-bottom-color: #fff;
      left: 50%;
      margin-left: -10px;
    }
    
    &:before {
      border-width: 11px;
      border-bottom-color: rgba(color(gray, x-dark), .1);
      margin-left: -11px;
    }
    
    // West/East directions are only affecting horizontal offsets, so we can
    // style North and South at the same time
    &-nw, &-sw {
      &:after, &:before {
        left: 0;
        margin-left: 15px;
      }
      
      &:before {
        margin-left: 14px;
      }
    }
    
    &-ne, &-se {
      &:after, &:before {
        left: auto;
        right: 0;
        margin-right: 15px;
      }
      
      &:before {
        margin-right: 14px;
      }
    }
    
    // South direction changes a lot of styles, and it’s probably safe to
    // assume North is the desired default.
    &-sw, &-se, &-s {
      &:after, &:before {
        bottom: auto;
        top: 100%;
        border-bottom-color: transparent;
        border-top-color: #fff;
      }
      
      &:before {
        border-top-color: rgba(color(gray, x-dark), .1);
        // Since we’re spoofing a triangle with borders, we can’t use
        // box-shadow, but we can use the drop-shadow filter. Limited support,
        // but it’s just a nice-to-have.
        filter: drop-shadow(0 1px 2px rgba(color(gray, x-dark),.1));
      }
    }
  }
}
