//-----------------------------
//
// Inputs
//
//-----------------------------

.c-input {
  display: inline-block;
  padding: 7px;

  line-height: 1.4;

  background-color: #fff;
  background-clip: padding-box;
  color: color(gray);
  border: 1px solid rgba(color(gray, x-dark), .1);
  border-radius: 3px;

  &:focus {
    outline: 0;
    border-color: rgba(color(gray, x-dark), .3);
  }
}

.c-label {
  display: block;
  
  line-height: 1.4;
  font-size: 12px;

  color: color(gray, light);

  // We want inputs within labels to be block elements
  > .c-input {
    display: block;
    width: 100%;
  }
}
