//-----------------------------
//
// Inputs
//
//-----------------------------

.c-label {
  display: block;
  margin-bottom: $DBbaseline;

  line-height: 1.4;
  font-size: 12px;

  color: color(gray, medium);
}

.c-input {
  display: block;
  width: 100%;
  padding: 10px;

  line-height: 1.4;
  font-size: $DBfontSize;

  background-color: #fff;
  background-clip: padding-box;
  color: color(gray);
  border: 1px solid color(gray, x-dark, 10%);
  border-radius: 3px;

  &:focus {
    outline: 0;
    border-color: color(gray, x-dark, 20%);
  }
}

