//-----------------------------
//
// Title Bubble
// ============
//
// A tipsy-like tooltip component with default south direction
//
// Usage:
// <div class="c-title-bubble [c-title-bubble--n | --e | --w]" data-title="Some text">
//   {{content}}
// </div>
//
//-----------------------------

$c-title-bubbleColor: color(gray, dark);
$c-title-bubblePointWidth: 5px;

.c-title-bubble {
  display: inline-block;
  position: relative;

  &:before, &:after {
    z-index: 1000;
  }

  &:after {
    content: attr(data-title);
    position: absolute;
    display: none;
    top: 100%;
    left: 50%;
    white-space: nowrap;
    padding: 7px 9px;
    margin-top: $c-title-bubblePointWidth;

    font-size: 11px;
    font-weight: 500;

    color: #fff;
    background-color: $c-title-bubbleColor;
    border-radius: 3px;
    transform: translateX(-50%);
    transform-origin: 50% 50%;
  }

  &:before {
    content: '';
    position: absolute;
    display: none;
    top: 100%;
    left: 50%;
    margin-left: -$c-title-bubblePointWidth;
    margin-top: -($c-title-bubblePointWidth);

    border: 5px solid transparent;
    border-bottom-color: $c-title-bubbleColor;
  }

  &--n {
    &:after {
      top: auto;
      bottom: 100%;
      margin-bottom: $c-title-bubblePointWidth;
    }

    &:before {
      top: auto;
      bottom: 100%;
      border-bottom-color: transparent;
      border-top-color: $c-title-bubbleColor;
      margin-bottom: -$c-title-bubblePointWidth;
    }
  }

  &--e {
    &:after {
      top: 50%;
      left: 100%;
      margin-left: $c-title-bubblePointWidth;
      margin-top: 0;

      transform: translateY(-50%);
    }

    &:before {
      top: 50%;
      left: 100%;
      border-bottom-color: transparent;
      border-right-color: $c-title-bubbleColor;
      margin-top: -$c-title-bubblePointWidth;
    }
  }

  &--w {
    &:after {
      top: 50%;
      right: 100%;
      left: auto;
      margin-right: $c-title-bubblePointWidth;
      margin-top: 0;

      transform: translateY(-50%);
    }

    &:before {
      top: 50%;
      right: 100%;
      left: auto;
      border-bottom-color: transparent;
      border-left-color: $c-title-bubbleColor;
      margin-right: -$c-title-bubblePointWidth;
      margin-top: -$c-title-bubblePointWidth;
    }
  }

  &:hover, &:focus {
    &:before, &:after {
      display: block;
      // Uncomment this line to disable tooltip interaction:
      // pointer-events: none;
    }
  }
}
