//-----------------------------
//
// Title Bubble
// ============
//
// A tipsy-like tooltip component with default south direction
//
// Usage:
// <div class="c-title-bubble [c-title-bubble--n | --e | --w]" data-title="Some text">
//   {{content}}
// </div>
//
//-----------------------------

$DBtitlebubble-namespace: 'c-title-bubble' !default;

$DBtitlebubble-background: color(gray, dark) !default;
$DBtitlebubble-point-width: 5px !default;

/**
 * Title-bubble component
 */
.#{$DBtitlebubble-namespace} {
  display: inline-block;
  position: relative;

  &:before, &:after {
    z-index: 1000;
  }

  &:after {
    content: attr(data-title);
    position: absolute;
    display: none;
    top: 100%;
    left: 50%;
    white-space: nowrap;
    padding: 7px 9px;
    margin-top: $DBtitlebubble-point-width;

    font-size: 11px;
    font-weight: 500;

    color: #fff;
    background-color: $DBtitlebubble-background;
    border-radius: 3px;
    transform: translateX(-50%);
    transform-origin: 50% 50%;
  }

  &:before {
    content: '';
    position: absolute;
    display: none;
    top: 100%;
    left: 50%;
    margin-left: -$DBtitlebubble-point-width;
    margin-top: -($DBtitlebubble-point-width);

    border: 5px solid transparent;
    border-bottom-color: $DBtitlebubble-background;
  }

  &--n {
    &:after {
      top: auto;
      bottom: 100%;
      margin-bottom: $DBtitlebubble-point-width;
    }

    &:before {
      top: auto;
      bottom: 100%;
      border-bottom-color: transparent;
      border-top-color: $DBtitlebubble-background;
      margin-bottom: -$DBtitlebubble-point-width;
    }
  }

  &--e {
    &:after {
      top: 50%;
      left: 100%;
      margin-left: $DBtitlebubble-point-width;
      margin-top: 0;

      transform: translateY(-50%);
    }

    &:before {
      top: 50%;
      left: 100%;
      border-bottom-color: transparent;
      border-right-color: $DBtitlebubble-background;
      margin-top: -$DBtitlebubble-point-width;
    }
  }

  &--w {
    &:after {
      top: 50%;
      right: 100%;
      left: auto;
      margin-right: $DBtitlebubble-point-width;
      margin-top: 0;

      transform: translateY(-50%);
    }

    &:before {
      top: 50%;
      right: 100%;
      left: auto;
      border-bottom-color: transparent;
      border-left-color: $DBtitlebubble-background;
      margin-right: -$DBtitlebubble-point-width;
      margin-top: -$DBtitlebubble-point-width;
    }
  }

  &:hover, &:focus {
    &:before, &:after {
      display: block;
      // Uncomment this line to disable tooltip interaction:
      // pointer-events: none;
    }
  }
}
