//-----------------------------
//
// Tokens
// ======
//
// Usage:
//
// <div class="c-token [modifier]">
//   [avatar/icon]
//   <span class="c-token__name">{{Name/email}}</span>
//   <i class="c-token__delete">&times;</i>
// </div>
//
//-----------------------------

.c-token {
  display: inline-block;
  padding: 4px;

  line-height: 1;
  // We want tokens to always remain on one line
  white-space: nowrap;

  border-radius: 3px;
  box-shadow: inset 0 0 0 1px color(gray, x-dark, 0.1);
  background-color: color(gray, light);

  cursor: default;

  &:hover {
    box-shadow: inset 0 0 0 1px color(gray, x-dark, 0.3);
  }

  > * {
    vertical-align: middle;
    margin-left: .25em;

    &:first-child {
      margin-left: 0;
    }
  }
}

  // Warning state
  // (Out-of-org, non-blocking)
  .c-token--warning {
    background-color: color(yellow, light);
    color: color(yellow, x-dark);
  }

  // Invalid state
  // (Out-of-org, suspended)
  .c-token--invalid {
    background-color: color(red, light);
    color: color(red, x-dark);
  }

  // Pending state
  // Transient state while actual state is determined
  .c-token--pending {
    opacity: 50%;
  }

  // Selected state
  .c-token--is-selected, .c-token--is-selected:hover {
    color: #fff;

    &.c-token--warning {
      background-color: color(yellow, dark);
    }

    &.c-token--invalid {
      background-color: color(red, dark);
    }
  }


  // User name or email
  .c-token__name {
    // Open Sans' line-height needs some manual correction
    top: 1px;
    margin-left: .25em;
  }

  // Delete token glyph
  .c-token__delete {
    margin-left: .25em;
    margin-right: .15em;

    font-size: 1.25em;

    color: currentColor;
    opacity: .7;

    cursor: pointer;
  }

