@charset "UTF-8";
* { margin: 0; padding: 0; box-sizing: inherit; position: relative; }

::-moz-selection { background-color: rgba(99, 141, 212, 0.25); }

::selection { background-color: rgba(99, 141, 212, 0.25); }

html, :root { box-sizing: border-box; font: 100%/1.5 "BlinkMacSystemFont", -webkit-system, Helvetica, Arial, sans-serif; color: #3D464D; }

p, ul, ol, table, form, hr, h2 { margin-bottom: 1.5rem; }

*:not(h1) + h1, *:not(h1) + h2 { padding-top: 1.5rem; }

h1 { margin-bottom: 3rem; -webkit-font-smoothing: antialiased; font-size: 3rem; font-weight: 300; line-height: 1; }

h2 { -webkit-font-smoothing: antialiased; font-size: 1.875rem; font-weight: 400; line-height: 1; }

h3 { margin-bottom: 0.75rem; -webkit-font-smoothing: antialiased; font-size: 1.333; font-weight: 600; line-height: 1; }

h4 { margin-bottom: 0.75rem; font-size: 1rem; font-weight: 500; -webkit-font-feature-settings: "c2sc" 1, "smcp" 1; font-feature-settings: "c2sc" 1, "smcp" 1; line-height: 1; color: #7B8994; }

a { color: inherit; }
a:hover { color: #638dd4; }

ul, ol { padding-left: 1.5rem; }

.sc-o-nav, .sc-o-nav ul, .sc-o-nav ol { list-style: none; padding-left: 0; margin-left: 0; margin-bottom: 0; }
.sc-o-nav a { display: inline-block; text-decoration: none; }
.sc-o-nav--inline li { display: inline-block; }

/*-----------------------------------*\
 $TOAST-GRID
 An insane grid. You'd be mad to use it.
 Usage =====
 Assuming default values:
 <div class="grid"> <div class="grid__col grid__col--1-of-2"> A half-width column. </div> <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4"> A quarter, pulled left by its own width. You get this, right? </div> </div>

 Customisation =============
 $grid-namespace and $grid-column-namespace adjusts the class names for the grid. With default values, grid wrappers have a class of '.grid' and columns '.grid__col'.
 $col-groups(n) adjusts column divisions. For example, $col-groups(12) will produce a 12-column grid. $col-groups(3,6,8) will produce a 3-, 6-, and 8-column grid.
 $gutter-width is—you guessed it—the gutter width. Accepts any unit.
 That's it. Have fun.

\*-----------------------------------*/
.sc-o-grid { list-style: none; margin-left: -20px; }
.sc-o-grid > .sc-o-grid__col--1-of-1, .sc-o-grid > .sc-o-grid__col--2-of-2, .sc-o-grid > .sc-o-grid__col--3-of-3, .sc-o-grid > .sc-o-grid__col--12-of-12 { width: 100%; }
.sc-o-grid > .sc-o-grid__col--1-of-2, .sc-o-grid > .sc-o-grid__col--6-of-12 { width: 50%; }
.sc-o-grid > .sc-o-grid__col--1-of-3, .sc-o-grid > .sc-o-grid__col--4-of-12 { width: 33.33333%; }
.sc-o-grid > .sc-o-grid__col--2-of-3, .sc-o-grid > .sc-o-grid__col--8-of-12 { width: 66.66667%; }
.sc-o-grid > .sc-o-grid__col--3-of-12 { width: 25%; }
.sc-o-grid > .sc-o-grid__col--9-of-12 { width: 75%; }
.sc-o-grid > .sc-o-grid__col--push-1-of-1, .sc-o-grid > .sc-o-grid__col--push-2-of-2, .sc-o-grid > .sc-o-grid__col--push-3-of-3, .sc-o-grid > .sc-o-grid__col--push-12-of-12 { margin-left: 100%; }
.sc-o-grid > .sc-o-grid__col--push-1-of-2, .sc-o-grid > .sc-o-grid__col--push-6-of-12 { margin-left: 50%; }
.sc-o-grid > .sc-o-grid__col--push-1-of-3, .sc-o-grid > .sc-o-grid__col--push-4-of-12 { margin-left: 33.33333%; }
.sc-o-grid > .sc-o-grid__col--push-2-of-3, .sc-o-grid > .sc-o-grid__col--push-8-of-12 { margin-left: 66.66667%; }
.sc-o-grid > .sc-o-grid__col--push-3-of-12 { margin-left: 25%; }
.sc-o-grid > .sc-o-grid__col--push-9-of-12 { margin-left: 75%; }
.sc-o-grid > .sc-o-grid__col--pull-1-of-1, .sc-o-grid > .sc-o-grid__col--pull-2-of-2, .sc-o-grid > .sc-o-grid__col--pull-3-of-3, .sc-o-grid > .sc-o-grid__col--pull-12-of-12 { margin-left: -100%; }
.sc-o-grid > .sc-o-grid__col--pull-1-of-2, .sc-o-grid > .sc-o-grid__col--pull-6-of-12 { margin-left: -50%; }
.sc-o-grid > .sc-o-grid__col--pull-1-of-3, .sc-o-grid > .sc-o-grid__col--pull-4-of-12 { margin-left: -33.33333%; }
.sc-o-grid > .sc-o-grid__col--pull-2-of-3, .sc-o-grid > .sc-o-grid__col--pull-8-of-12 { margin-left: -66.66667%; }
.sc-o-grid > .sc-o-grid__col--pull-3-of-12 { margin-left: -25%; }
.sc-o-grid > .sc-o-grid__col--pull-9-of-12 { margin-left: -75%; }
.sc-o-grid > .sc-o-grid__col--1-of-12 { width: 8.33333%; }
.sc-o-grid > .sc-o-grid__col--push-1-of-12 { margin-left: 8.33333%; }
.sc-o-grid > .sc-o-grid__col--pull-1-of-12 { margin-left: -8.33333%; }
.sc-o-grid > .sc-o-grid__col--2-of-12 { width: 16.66667%; }
.sc-o-grid > .sc-o-grid__col--push-2-of-12 { margin-left: 16.66667%; }
.sc-o-grid > .sc-o-grid__col--pull-2-of-12 { margin-left: -16.66667%; }
.sc-o-grid > .sc-o-grid__col--5-of-12 { width: 41.66667%; }
.sc-o-grid > .sc-o-grid__col--push-5-of-12 { margin-left: 41.66667%; }
.sc-o-grid > .sc-o-grid__col--pull-5-of-12 { margin-left: -41.66667%; }
.sc-o-grid > .sc-o-grid__col--7-of-12 { width: 58.33333%; }
.sc-o-grid > .sc-o-grid__col--push-7-of-12 { margin-left: 58.33333%; }
.sc-o-grid > .sc-o-grid__col--pull-7-of-12 { margin-left: -58.33333%; }
.sc-o-grid > .sc-o-grid__col--10-of-12 { width: 83.33333%; }
.sc-o-grid > .sc-o-grid__col--push-10-of-12 { margin-left: 83.33333%; }
.sc-o-grid > .sc-o-grid__col--pull-10-of-12 { margin-left: -83.33333%; }
.sc-o-grid > .sc-o-grid__col--11-of-12 { width: 91.66667%; }
.sc-o-grid > .sc-o-grid__col--push-11-of-12 { margin-left: 91.66667%; }
.sc-o-grid > .sc-o-grid__col--pull-11-of-12 { margin-left: -91.66667%; }
.sc-o-grid .sc-o-grid__col { box-sizing: border-box; display: inline-block; margin-right: -.25em; min-height: 1px; padding-left: 20px; vertical-align: top; }
@media (max-width: 700px) { .sc-o-grid .sc-o-grid__col { display: block; margin-left: 0; margin-right: 0; width: auto; } }
@media (max-width: 700px) and (min-width: 480px) { .sc-o-grid .sc-o-grid__col[class*="sc-o-grid__col--m-"] { display: inline-block; margin-right: -.24em; }
  .sc-o-grid .sc-o-grid__col.sc-o-grid__col--m-1-of-2, .sc-o-grid .sc-o-grid__col.sc-o-grid__col--m-2-of-4 { width: 50%; }
  .sc-o-grid .sc-o-grid__col.sc-o-grid__col--m-1-of-3 { width: 33.33333%; }
  .sc-o-grid .sc-o-grid__col.sc-o-grid__col--m-2-of-3 { width: 66.66667%; }
  .sc-o-grid .sc-o-grid__col.sc-o-grid__col--m-1-of-4 { width: 25%; }
  .sc-o-grid .sc-o-grid__col.sc-o-grid__col--m-3-of-4 { width: 75%; } }
@media (max-width: 480px) { .sc-o-grid .sc-o-grid__col[class*="sc-o-grid__col--s-"] { display: inline-block; margin-right: -.24em; }
  .sc-o-grid .sc-o-grid__col.sc-o-grid__col--s-1-of-2, .sc-o-grid .sc-o-grid__col.sc-o-grid__col--s-2-of-4 { width: 50%; }
  .sc-o-grid .sc-o-grid__col.sc-o-grid__col--s-1-of-3 { width: 33.33333%; }
  .sc-o-grid .sc-o-grid__col.sc-o-grid__col--s-2-of-3 { width: 66.66667%; }
  .sc-o-grid .sc-o-grid__col.sc-o-grid__col--s-1-of-4 { width: 25%; }
  .sc-o-grid .sc-o-grid__col.sc-o-grid__col--s-3-of-4 { width: 75%; } }
.sc-o-grid .sc-o-grid__col--centered { display: block; margin-left: auto; margin-right: auto; }
.sc-o-grid .sc-o-grid__col--d-first { float: left; }
.sc-o-grid .sc-o-grid__col--d-last { float: right; }
.sc-o-grid.grid--no-gutter { margin-left: 0; width: 100%; }
.sc-o-grid.grid--no-gutter .sc-o-grid__col { padding-left: 0; }
.sc-o-grid.grid--no-gutter .sc-o-grid__col--span-all { margin-left: 0; width: 100%; }
.sc-o-grid .sc-o-grid__col--ab { vertical-align: bottom; }
.sc-o-grid .sc-o-grid__col--am { vertical-align: middle; }

.sc-u-l-wrap { padding: 0 1.5rem; max-width: 65rem; margin: 0 auto; }

.sc-u-l-island { padding: 1.5rem; }

.sc-u-l-isle { padding: 0.75rem; }

.sc-u-font-meta { color: #7b8994; }

.sc-site__header { padding: 1.5rem 0; background-color: #638dd4; }

.sc-site__nav { white-space: nowrap; overflow: auto; margin-bottom: 3rem; background-color: #F0F3F5; }
.sc-site__nav li { margin-right: 1.5rem; }
.sc-site__nav a { padding: 0.75rem 0; border-bottom: 2px solid transparent; color: inherit; }
.sc-site__nav a:hover { border-color: currentColor; }
.sc-site__nav .is-active { color: #638dd4; border-bottom-color: currentColor; }

.sc-content__nav a { display: block; padding: 0.75rem 0; }
.sc-content__nav li + li { border-top: 1px solid rgba(37, 40, 43, 0.1); }

code { padding: 2px 4px; font-size: 13px; font-family: "Menlo", monospace; background-color: #F0F3F5; border-radius: 3px; }
.highlight code { background-color: transparent; border-radius: 0; padding: 0; }

pre.highlight { padding: 0.75rem; margin-bottom: 1.5rem; overflow: auto; border: 1px solid rgba(37, 40, 43, 0.1); border-radius: 3px; }
pre.highlight .c, pre.highlight .cd, pre.highlight .cm, pre.highlight .c1, pre.highlight .cs { color: #9FA8A7; }

p:empty { display: none; }

.sc-site { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; min-height: 100vh; }

.sc-site__content { margin-bottom: 3rem; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }

.sc-def__header, .sc-content__header { margin-bottom: 3rem; }
.sc-def__header h1, .sc-def__header h2, .sc-def__header h3, .sc-content__header h1, .sc-content__header h2, .sc-content__header h3 { margin-bottom: 0; }

.sc-def__header { margin-bottom: 1.5rem; }

.sc-def { margin-bottom: 4.5rem; }

.ext-link { text-decoration: none; font-size: .875rem; }
.ext-link:after { content: "\27B6"; margin-left: .25em; }

.sc-note { padding: 1.5rem; margin-bottom: 1.5rem; background-color: #F4FAFF; border-left: 2px solid #CBE6FB; }
.sc-note :last-child { margin: 0; }

.sc-site__footer { background-color: #F0F3F5; padding: 1.5rem 0; }
