.sc-demo {
  .highlight {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }
}

.sc-demo__output {
  padding: 1.5rem;

  font: 81.25%/1.75 "Open Sans", sans-serif;

  border: 1px solid rgba(#25282B, .1);
  border-radius: 4px 4px 0 0;

  @import "vendor/scooter";

}
.sc-demo--grid {
  .o-grid__col {
    background-color: rgba(#FFBB01, .3);
    background-clip: content-box;
    height: 20px;
    margin-bottom: 20px;
  }
}

.sc-demo--modal {
  .sc-demo__output {
    padding: 0;
    overflow: hidden;
  }

  .c-modal-overlay {
    position: relative;
  }
}

.sc-demo--padding {
  .sc-demo__output {
    span {
      display: inline-block;

      background-color: rgba(#7b8994, .3);
      background-clip: content-box;
      border: 1px solid currentColor;
    }
  }
}

