//---------------------------
//
// Buttons
//
//---------------------------

$DBbutton-namespace: "c-btn" !default;

$DBbutton-background-primary: linear-gradient(color(blue), color(blue, dark)) !default;
$DBbutton-background-secondary: color(white) !default;
$DBbutton-background-tertiary: linear-gradient(color(white), color(blue, x-light)) !default;

// Providing fallback colors for IE <= 9
$DBbutton-background-fallback-primary: color(blue);
$DBbutton-background-fallback-tertiary: color(white);

$DBbutton-text-primary: color(white) !default;
$DBbutton-text-secondary: color(gray) !default;
$DBbutton-text-tertiary: color(blue) !default;

$DBbutton-border-primary: color(blue, dark) !default;
$DBbutton-border-secondary: color(gray, light) !default;
$DBbutton-border-tertiary: color(blue) !default;

/**
 * Button component
 */
.#{$DBbutton-namespace} {
    display: inline-block;
    padding: 7px 12px;

    line-height: 1.4;
    text-align: center;
    text-decoration: none;
    font-weight: 600;

    border: 1px solid currentColor;
    border-radius: 3px;

    cursor: pointer;

    // Ensure the element is actually a button
    @include assert-selector(button, '[type=submit]');

    &[disabled], &#{&}--disabled {
        opacity: .5;
        cursor: default;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px color(blue, 0.3);
    }

    &:hover {
        text-decoration: none;
    }

    &#{&}--big {
        padding: 10px 26px;
    }

    &#{&}--full {
        display: block;
    }

    &#{&}--primary {
        color: $DBbutton-text-primary;
        background-color: $DBbutton-background-fallback-primary;
        background: $DBbutton-background-primary;
        border-color: $DBbutton-border-primary;
    }

    &#{&}--secondary {
        color: $DBbutton-text-secondary;
        background: $DBbutton-background-secondary;
        border-color: $DBbutton-border-secondary;
    }

    &#{&}--tertiary {
        color: $DBbutton-text-tertiary;
        background-color: $DBbutton-background-fallback-tertiary;
        background: $DBbutton-background-tertiary;
        border-color: $DBbutton-border-tertiary;
    }
}
