//-----------------------------
//
// Loading indicator
// =================
//
// Usage:
// <div class="c-loader">Loading...</div>
//
//-----------------------------

$DBloadingindicator-namespace: "c-loader";

$DBloadingindicator-color: color(gray, dark);

$DBloadingindicator-size: 6px;

$DBloadingindicator-speed: 0.9s;

/**
 * Loading indicator component
 */
.#{$DBloadingindicator-namespace} {
    display: inline-block;
    position: relative;
    width: $DBloadingindicator-size;
    height: $DBloadingindicator-size;
    margin: ($DBloadingindicator-size * 2) 0;

    font-size: 0;

    color: transparent;
    border-radius: 100%;
    background-color: rgba($DBloadingindicator-color, 0.3);

    &, &:after, &:before {
        animation: loaderFade $DBloadingindicator-speed ease-in-out infinite;
    }

    &:after, &:before {
        content: "";
        vertical-align: middle;
        position: absolute;
        left: 100%;
        width: $DBloadingindicator-size;
        height: $DBloadingindicator-size;
        margin-left: round($DBloadingindicator-size * 0.6);

        border-radius: 100%;
        background-color: rgba($DBloadingindicator-color, 0.3);
        animation-delay: ($DBloadingindicator-speed / 3);
    }

    &:after {
        left: 200%;
        margin-left: (round($DBloadingindicator-size * 0.3) + $DBloadingindicator-size);

        animation-delay: (($DBloadingindicator-speed / 3) * 2);
    }
}

@keyframes loaderFade {
    50% {
        background-color: rgba($DBloadingindicator-color, 1);
    }

    0%, 100% {
        background-color: rgba($DBloadingindicator-color, 0.3);
    }
}
