/// Global namespace for horizontal rule component
/// @access public
/// @group horizontal
/// @type string
$DBrule-namespace: "c-rule";

// Horizontal Rule Component
.#{$DBrule-namespace} {
    margin-bottom: $DBbaseline;

    border: 0;
    border-top: 1px solid color(gray, x-dark, 0.1);
}
