//------------------------------
//
// Tab navigation
// ==============
//
// Example:
// <nav>
//   <ul class="c-tab-nav">
//     <li class="c-tab-nav__tab"><a href="#photos">Photos</a></li>
//     <!-- Add the --is-active modifier to active tabs -->
//     <li class="c-tab-nav__tab c-tab-nav__tav--is-active"><a
//     href="#docs">Documents</a></li>
//   </ul>
// </nav>
//
//------------------------------

$DBtab-nav-namespace: "c-tab-nav" !default;

.#{$DBtab-nav-namespace} {
    margin-left: 0;
    padding-left: 0;

    list-style: none;

    border-bottom: 1px solid color(gray, dark, 0.1);
}

.#{$DBtab-nav-namespace}__tab {
    display: inline-block;
    margin-bottom: -1px;

    color: color(gray, medium);
    border-bottom: 1px solid transparent;
    transition: 0.2s;

    &:hover {
        color: color(gray, dark);
        border-bottom-color: color(gray, dark, 0.3);
    }

    // Adjacent siblings get a margin-left
    + #{&} {
        margin-left: 16px;
    }

    a {
        display: inline-block;
        padding-bottom: 8px;

        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }

    &#{&}--is-active {
        font-weight: 600;

        color: color(gray, dark);
        border-bottom-color: currentColor;
    }
}
