//---------------------------
//
// Color variables
//
// Inspired by/based on Erskine's color palette structure:
// http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
//
//---------------------------

$DBglobalColors: (
    white: #ffffff,

    black: #000000,

    gray: (
        base: #47525d,
        x-dark: #25282b,
        dark: #3d464d,
        medium: #7b8994,
        light: #d0d4d9,
        x-light: #f7f9fa,
    ),

    blue: (
        base: #007ee5,
        x-dark: #004c8a,
        dark: #0071ce,
        medium: #72b6ec,
        light: #cce6fa,
        x-light: #f4faff,
    ),

    red: (
        base: #e82110,
        x-dark: #921515,
        dark: #c21c1c,
        medium: #ed7a6f,
        light: #fcbdbd,
        x-light: #ffe3e3,
    ),

    green: (
        base: #48ac68,
        x-dark: #2c683f,
        dark: #3a8a54,
        medium: #86c49a,
        light: #ddf0e2,
        x-light: #edfaf1,
    ),

    yellow: (
        base: #fcca00,
        x-dark: #996e00,
        dark: #c99700,
        medium: #fce897,
        light: #fff5cc,
        x-light: #fffdec,
    ),
) !default;

$DBgrayscaleColors: (
    1: #171717,
    2: #2e2e2e,
    3: #454545,
    4: #5c5c5c,
    5: #737373,
    6: #8a8a8a,
    7: #a1a1a1,
    8: #b8b8b8,
    9: #cfcfcf,
    10: #e8e8e8,
) !default;
