//---------------------------
//
// Color variables
//
//---------------------------

// Grays
// =====
//
// Grays can be either solid colors or at any 10% transparencies
// E.g.:
//
// background-color: rgba($g-c-black, .1);
//
$g-c-black: #25282b;

$g-c-dark-gray: #3d464d;

$g-c-gray: #47525d;

$g-c-light-gray: #7b8994;

$g-c-off-white: #f0f3f5;

$g-c-white: #fff;


// Colors
// ======
//
// Colors are typically only used as solid colors, or at 10% opacity.
// E.g.:
//
// .el {
//   color: $g-c-red;
//   background-color: rgba($g-c-red, .1);
// }
//
$g-c-blue: #007ee5;

$g-c-red: #f22322;

$g-c-green: #48ac68;

$g-c-yellow: #fcca00;
