//---------------------------
//
// Color variables
//
//---------------------------

$globalColors: (
  black: #25282b,
  dark-gray: #3d464d,
  gray: #47525d,
  light-gray: #7b8994,
  off-white: #f0f3f5,
  white: #fff,

  blue: #007ee5,
  red: #f22322,
  green: #48ac68,
  yellow: #fcca00,
);

$semanticColors: (
  main: map-get($globalColors, blue),
);
