//---------------------------
//
// Color variables
//
// Inspired by/based on Erskine's color palette structure:
// http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
//
//---------------------------

$dbcolor-blue: #007ee5;

$globalColors: (
  gray: (
       base: #47525d,
     x-dark: #25282b,
       dark: #3d464d,
      light: #7b8994,
    x-light: #f0f3f5
  ),

  blue: (
       base: $dbcolor-blue,
       dark: mix($dbcolor-blue, #000, 10%),
      light: mix($dbcolor-blue, #fff, 10%),
    x-light: mix($dbcolor-blue, #fff, 50%)
  ),

  red: (
    base: #f22322,
  ),
  
  green: (
    base: #48ac68,
  ),

  yellow: (
    base: #fcca00,
  ),
);

$semanticColors: (
  main: map-get(map-get($globalColors, blue), base),
  black: map-get(map-get($globalColors, gray), x-dark),
);
