//---------------------------
//
// Base/root styles
//
//---------------------------

@if ($DBscope-scooter-reset == true) {
    html.scooter-css, .scooter-css:root {
        box-sizing: border-box;

        font: 81.25%/1.75 "Open Sans", "Helvetica Neue", Arial, sans-serif;

        color: color(gray, dark);
    }
} @else {
    html, :root {
        box-sizing: border-box;

        font: 81.25%/1.75 "Open Sans", "Helvetica Neue", Arial, sans-serif;

        color: color(gray, dark);
    }
}
