//---------------------------
//
// Base/root styles
//
//---------------------------

html, :root {
    font: 81.25%/1.75 "Open Sans", "Helvetica Neue", Arial, sans-serif;
    color: color(gray);

    box-sizing: border-box;
}
