//---------------------------
//
// Base/root styles
//
//---------------------------

html, :root {
    box-sizing: border-box;

    font: 81.25%/1.75 "Open Sans", "Helvetica Neue", Arial, sans-serif;

    color: color(gray);
}
