//-----------------------------
//
// List UI
//
//-----------------------------

$DBlist-ui-namespace: "o-list-ui" !default;

.#{$DBlist-ui-namespace} {
    margin: 0;
    padding: 0;

    list-style: none;

    &--dividers > li + li {
        border-top: 1px solid;
        border-color: color(gray, x-dark, 0.1);
    }

    &--inline > li {
        display: inline-block;
    }
}
