//-----------------------------
//
// Media
//
//-----------------------------

$DBmedia-namespace: "o-media" !default;

.#{$DBmedia-namespace} {
    @extend %clearfix;
    display: block;
}

.#{$DBmedia-namespace}__img {
    float: left;
    margin-right: half($DBbaseline);

    > img {
        display: block;
    }

}

.#{$DBmedia-namespace}__body {
    overflow: hidden;
    display: block;

    &,
    > :last-child {
        margin-bottom: 0;
    }

}
