/// Global namespace for media object
/// @access public
/// @group media
/// @type string
$DBmedia-namespace: "o-media" !default;

// Media Object
.#{$DBmedia-namespace} {
    @extend %clearfix;
    display: block;

    &__img {
        margin-right: half($DBbaseline);
        float: left;

        > img {
            display: block;
        }

    }

    &__body {
        display: block;
        overflow: hidden;

        &,
        > :last-child {
            margin-bottom: 0;
        }

    }
}
