//-----------------------------
// Object: Wrap
//-----------------------------

$DBwrap-namespace: "o-wrap";
$DBwrap-width: 990px;

.#{$DBwrap-namespace} {
  display: block;
  max-width: $DBwrap-width;
  margin: 0 auto;
}
