//---------------------------
//
// Buttons
//
//---------------------------

.btn {
  display: inline-block;
  padding: 7px 12px;

  text-decoration: none;
  font-weight: 600;

  border: 1px solid;

  cursor: pointer;

  &[disabled], &.btn--disabled {
    opacity: .4;
    cursor: default;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(color(main), .1);
  }

  &:hover {
    text-decoration: none;
  }

  &.btn--big {
    padding: 10px 26px;
  }

  &.btn--full {
    display: block;
  }

  &.btn--primary {
    color: color(white);
    background-color: color(main);
    background-image: linear-gradient(color(main), mix(color(main), #000, 10%));
    border-color: darken(color(main), 20%);
  }

  &.btn--secondary {
    color: color(gray);
    background-color: color(white);
  }

  &.btn--tertiary {
    color: color(main);
    background-color: color(white);
    background-image: linear-gradient(color(white), rgba(color(main), .1));
  }
}
