//---------------------------
//
// Accessibility Helpers
//
//---------------------------

// Visually hide elements, leaving them accessible to screen readers
.ax-visually-hidden {
    position: absolute !important;
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    overflow: hidden !important;
}

// Give focusable elements a distinct outline
.ax-focusable:focus, .ax-focusable.is-focused {
    box-shadow: 0 0 0 2px color(blue, medium, 0.7);
    outline: none;
}

// Alternative highlight for focusable elements
.ax-focusable-inline:focus, .ax-focusable-inline.is-focused {
    text-decoration: underline;
}
