//---------------------------
//
// Input Helpers
//
//---------------------------

// Remove default styles for buttons
.u-unbutton {
    padding: 0;

    background: none;
    border: 0;

    &:focus {
        box-shadow: 0 0 0 2px color(blue, light);
    }

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}
