// scss-lint:disable ImportantRule
//
//-----------------------------
//
// Utility: Typography
// ===================
//
//-----------------------------
//
.u-font-center,
%u-font-center {
    text-align: center !important;
}

.u-font-left,
%u-font-left {
    text-align: left !important;
}

.u-font-right,
%u-font-right {
    text-align: right !important;
}

.u-font-small,
%u-font-small {
    font-size: 0.85em;
}

.u-font-strong,
%u-font-strong {
    font-weight: 600;
}

.u-font-black,
%u-font-black {
    color: color(black);
}

.u-font-meta,
%u-font-meta {
    color: color(gray, medium);
}

.u-font-error,
%u-font-error,
.u-font-danger,
%u-font-danger {
    color: color(red);
}

.u-font-success,
%u-font-success {
    color: color(green);
}

.u-font-wrap,
%u-font-wrap {
    white-space: normal;
}

.u-font-nowrap,
%u-font-nowrap {
    white-space: nowrap;
}

// Hide text in element
// Useful for icons with screenreader-accessible text
.u-thide {
    overflow: hidden;
    white-space: nowrap;

    text-indent: 100%;
}

// Ellipsis text overflow
.u-ellip {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;

    text-overflow: ellipsis;
}

// Remove list styling from lists
.u-unlist {
    list-style: none;
}
